# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Virtual environments
venv/
ENV/
.env/
env/
.venv/

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Python package manager
pip-log.txt
pip-delete-this-directory.txt

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# System files
*.bak
*.swp

# Build / distribution
build/
dist/
*.egg-info/
